<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>
<br>

<% target = 'world' %>
<%= "Hello #{target}" %>

<br>

<%= 'Printing value from 0 to 2'%> <br>
<% @arr.each do |n| %>
  <%= n %> <br>
<% end %>

<% 3.times { |n| %> <%= n %> <%}%>

<br>
<br>

<%# link_to(text, target), target = url string: "/demo/hello" or
    hash: {controller: "demo", action: "hello", paras keys and values in same way for param hash} %>
<%= link_to("Go to index page", {action: "index"}) %>

<%# for multipage linking (a page with links to pages 1 to x on
    the same page (1 to x nav at bottom))%>
<br><br>

<%= "Pages: " %>
<%= link_to("1", {action: "hello", id: "1", page: "1"}) %>
<%= link_to("2", {action: "hello", id: "1", page: "2"}) %>
<%= link_to("3", {action: "hello", id: "1", page: "3"}) %>
<%= link_to("4", {action: "hello", id: "1", page: "4"}) %>
<%= link_to("5", {action: "hello", id: "1", page: "5"}) %><br><br>

<%="Prev:  #{@page.to_i - 1} " if @page != nil and @page.to_i > 1 %><br>
<%="Curr: #{@page.to_i} " if @page != nil %><br>
<%="Next:  #{@page.to_i + 1} " if @page != nil and @page.to_i  < 5 %><br>
